a {
  &:link,
  &:active {
    color: $color-white;
    font-style: none;
  }
  &:hover,
  &:visited {
    color: $color-white;
  }
}

.container {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.graphic {
  display: block;
}

.bio-logo {
  width: 120px;
  text-align: justify;
}



.index-wrapper {
  width: 100%;
  & > *:nth-of-type(1) {
    padding: $spaceing-middle 0 $spaceing-large;
  }

  & > *:nth-of-type(n + 2) {
    padding: $spaceing-large 0;
  }
}

.text-box {
  margin: $spaceing-middle 0 0;
}

.table {
  margin: $spaceing-small 0 0;
}

.logo {
  margin-bottom: $spaceing-middle;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@include bp-max-medium() {
  .container {
    &.index {
      padding: 0;
    }

    .index-wrapper {
      & > *:nth-of-type(1) {
        padding: 0 0 $spaceing-small;
      }

      & > *:nth-of-type(n + 2) {
        padding: $spaceing-small 0;
      }
    }

    .text-box--content,
    .table--wrapper {
      margin: 0 $spaceing-mobile;
    }
  }
}
