$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 1200px;
@mixin bp($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin bp-max($breakpoint) {
  @media screen and (max-width: $breakpoint - 0.01px) {
    @content;
  }
}

@mixin bp-small() {
  @include bp($bp-small) {
    @content;
  }
}

@mixin bp-max-small() {
  @include bp-max($bp-small) {
    @content;
  }
}

@mixin bp-medium() {
  @include bp($bp-medium) {
    @content;
  }
}

@mixin bp-max-medium() {
  @include bp-max($bp-medium) {
    @content;
  }
}

@mixin bp-large() {
  @include bp($bp-large) {
    @content;
  }
}

@mixin bp-max-large() {
  @include bp($bp-large) {
    @content;
  }
}
