
@font-face {
  font-family: 'inter-regular';
  font-weight: normal;
  src: url('~@/assets/fonts/Inter-Light-BETA.ttf') format('opentype');
}

@font-face {
  font-family: 'inter-bold';
  font-weight: normal;
  src: url( '~@/assets/fonts/Inter-Medium.ttf') format('opentype');
}
