// font-size setting

h1,
h2,
h3,
h4,
h5 {
  font-family: 'inter-bold', 'Helvetica Neue', sans-serif;
}

//header
h1 {
  font-size: 62px;
}

//menu
h2 {
  font-size: 42px;
}

// section
h3 {
  font-size: 24px;
}

// table thread
h4 {
  font-size: 18px;
}
