//color
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.1);
$color-dark: #333;
$color-gold: goldenrod;
$color-gold-transparent: rgba(218, 165, 32, 0.1);
$color-green-transparent: rgba(13, 110, 9, 0.1);



//spacing
$spaceing-large: 140px;
$spaceing-middle: 68px;
$spaceing-small: 41px;
$spaceing-mobile: 20px;

// font-size setting
h1,
h2,
h3,
h4,
h5 {
  font-family: 'inter-bold', 'Helvetica Neue', sans-serif;
}

//header
h1 {
  font-size: 62px;
}

//menu
h2 {
  font-size: 42px;
  text-transform: uppercase;
  margin: $spaceing-middle 0;
}

// section
h3 {
  font-size: 24px;
  margin-bottom: $spaceing-small;
}

// table thread
h4 {
  font-size: 18px;
}

@include bp-max-medium() {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-left: $spaceing-mobile;
    margin-right: $spaceing-mobile;
  }
}

@include bp-max-small() {
  h2 {
    font-size: 42px;
    text-transform: uppercase;
    margin: $spaceing-small $spaceing-mobile;
  }

  h3 {
    font-size: 24px;
    margin-bottom: $spaceing-small $spaceing-mobile;
  }
}
