.gallery {
  margin-bottom: 60px;
  padding: $spaceing-middle 0;

  .carousel-indicators {
    bottom: -60px;
    li {
      width: 20px;
      border: solid 1px transparent;
      border-radius: 10px;
      height: 20px;
      margin-right: 13px;
      margin-left: 13px;
      background-color: #333;
      border-top: initial;
      border-bottom: initial;
    }
  }
  .carousel-inner {
    max-height: 560px;
  }
}

@include bp-max-small() {
  .gallery {
    .carousel-indicators {
      li {
        width: 16px;
        border-radius: 8px;
        height: 16px;
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}
