.b-sidebar {
  opacity: 0.8;
  background-image: url('../static/img/bgImg-dark.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .side-bar--menu {
    font-family: 'inter-bold', 'Helvetica Neue', sans-serif;
    margin: 50px 50px 0 50px;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;

    .nav-bar--menu {
      margin: 150px 54px 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 2.2rem;

      &:nth-last-of-type(2) {
        margin-bottom: 0.3rem;
      }
    }
  }
}
