.table {
  color: $color-white;
  th {
    text-transform: uppercase;
  }
  th,
  td {
    border-top: none;
    padding: rem(17px) 0.75rem;
  }

  thead th {
    border-bottom: none;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $color-white-transparent;
}
