.table {
  color: $color-dark;
  th {
    text-transform: uppercase;
    color: transparent;
    height: 0;
    border-top: none;
  }
  td {
    border-top: none;
    padding: rem(17px) 0.6rem;
  }

  thead th {
    border-bottom: none;
    display: none;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $color-gold-transparent;
}
